section(class="product__slider" id="product")
	.container
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide 
						div(href="#" class="product__link")
							.product__img
								img(src="img/product-item-1.jpg", alt="")
							.product__info
								span.title Футболка Черная
								span.price 399.00 грн
					
					.swiper-slide 
						div(href="#" class="product__link")
							.product__img
								img(src="img/product-item-1.jpg", alt="")
							.product__info
								span.title Футболка Белая
								span.price 410.00 грн
					
					.swiper-slide 
						div(href="#" class="product__link")
							.product__img
								img(src="img/product-item-1.jpg", alt="")
							.product__info
								span.title Футболка Черная
								span.price 399.00 грн

					.swiper-slide 
						div(href="#" class="product__link")
							.product__img
								img(src="img/product-item-1.jpg", alt="")
							.product__info
								span.title Футболка Белая
								span.price 410.00 грн

					.swiper-slide 
						div(href="#" class="product__link")
							.product__img
								img(src="img/product-item-1.jpg", alt="")
							.product__info
								span.title Футболка Черная
								span.price 399.00 грн

				.swiper-button-next
					i(class="fa fa-angle-double-right" aria-hidden="true")
				.swiper-button-prev
					i(class="fa fa-angle-double-left" aria-hidden="true")

		div(class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12")
			p.product__history Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo obcaecati accusantium molestias magnam eos, quae ad tenetur tempore, distinctio ratione ab libero non soluta eaque repudiandae recusandae sint! Nemo, excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate iusto repudiandae consequuntur temporibus vero iure assumenda, ad consequatur pariatur eos repellat ut. Ad libero quod quis vitae magnam veniam ipsa!
