ul.header__nav__list
	li.header__nav__item
		a.header__nav__link(href="#about") About
	li.header__nav__item
		a.header__nav__link(href="#product") Product
	li.header__nav__item
		a.header__nav__link(href="#contact") Contact