footer(class="footer" id="contact")
	.container
		.row
			div(class="col-md-4 col-md-offset-1")
				.footer__item
					form.call__back
						input(type="text" name="name" placeholder="Ваше имя: ")
						input(type="text" name="phone" placeholder="Ваш номер телефона: ")
						textarea(type="text" name="phone" placeholder="Комментарии...")
						button(class="button" type="submot") Отправить
			div(class="col-md-4 col-md-offset-1")
				.footer__item
					.footer__contact
						ul.footer__contact__list
							li.footer__contact__item
								a.footer__contact__link(href="#") +380 (50) 939 51 52
							li.footer__contact__item
								a.footer__contact__link(href="#") +380 (93) 393 15 25
							li.footer__contact__item
								a.footer__contact__link(href="#") yourword@gmail.com

						.social__network
							ul.social__network__list
								li.social__network__item
									a.social__network__link
										i(class="fa fa-facebook" aria-hidden="true")
								li.social__network__item
									a.social__network__link
										i(class="fa fa-youtube-play" aria-hidden="true")
								li.social__network__item
									a.social__network__link
										i(class="fa fa-instagram" aria-hidden="true")