<!DOCTYPE html>
html(lang="en")
head
	
	title YOURWORD
	
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet")
	link(rel="stylesheet" href="css/main.css")


body
	include header-video/header__video.jade
	
	.wrapper
		include about/about.jade
		include product-slider/product__slider.jade
		include product-slider/product__slider.jade
		include footer/footer.jade
	

	
	
	script(src="https://use.fontawesome.com/87f211dfea.js")
	script(src="js/main.js")